@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Gudea|Lora|Monsieur+La+Doulaise|Roboto|Scheherazade|Tangerine&display=swap');



/* Constants - change these to change the look and feel */
:root{
  /* fonts */
  --font-cursive: 'Dancing Script';
  --font-sansserif: 'Robota', sans-serif;
  --font-serif:'Scheheradze', serif;
  
  /* colours */
  --bg-dark-primary: #141e28;
  --bg-dark-secondary: #8383b0;
  --bg-dark-secondary-highlight: #adade0;
  --bg-dark-highlight: #dcdcf2;

  --bg-light-primary: white; 
  --bg-light-highlight: #333366;

  --txt-dark-primary: #333366;
  --txt-light-primary:  #efeff9;
}

/* Defaults */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--font-sansserif);
  color: var(--txt-dark-primary);
}
a {
  text-decoration: none;
}

/* Utilities Settings*/
.cursive {
  font-family: var(--font-cursive);
}
.serif {
  font-family: var(--font-serif);
}

.sans-serif {
  font-family: var(--font-sansserif);
}
.l-heading {
  font-size: 3rem;
  margin-bottom: 0.9rem;
  line-height: 1.1;
}

.lead{
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.txt-large { font-size: 2rem }
.txt-small { font-size: 0.8rem }

.py1 { padding: 1.5rem 0 }
.py2 { padding: 2rem 0 }
.py3 { padding: 3rem 0 }
.py4 { padding: 0.5rem 0}

.pb1 { padding-bottom: 1.5rem }
.pb2 { padding-bottom: 2rem }
.pb3 { padding-bottom: 3rem }
.pb4 { padding-bottom: 0.5rem }

.btn-learnmore {
  background: var(--bg-dark-secondary);
  color: var(--txt-light-primary);
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 0.8rem;
  display: block;
  margin: auto; 
  margin-top: 0.5rem;
  transition-duration: 0.4s;

}
.btn-learnmore:hover {
  background: var(--bg-dark-secondary-highlight);
  color: var(--txt-light-primary);
  cursor: pointer;
}


/* Header Bar */
  #head-bar{
    display: flex;
    background: var(--bg-light-primary);
    justify-content: space-between; 
  }
  #head-bar img{
    display: block; 
    width: 120px;
    height: 80px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    border-style: solid;
    border-color: var(--bg-dark-primary);
    border-width: 2px;
  }
  #head-bar h1{
    text-align: center;
    margin-top:auto;
    margin-bottom: auto;
  }
  #head-bar ul{
     list-style: none;
     margin-top:auto;
     margin-bottom: auto;
     margin-right: 25px
  }

  #head-bar ul li{
    color: var(--txt-dark-primary);
    font-size: 1.2rem;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
  }
  #head-bar ul li:last-child{
    text-align: right;
    font-style: italic;
  }
  /* NavBar */
  #navbar{
    display: flex;
    position: sticky;
    top:0;
    background: var(--bg-dark-primary);
    z-index: 1;
  }

  #navbar ul{
    display:flex;
    justify-content: space-evenly;
    margin: auto;
    align-items: center;
    list-style: none;
  }

  #navbar ul li {
    color: var(--txt-light-primary);
    padding: 0.4rem;
    margin-left: 2rem;
    position: relative
  }

  #navbar ul li a {
    color: var(--txt-light-primary);
    padding: 0.4rem;
    margin: 3px 0;
    /* padding-left: 2rem; */
  }

  #navbar ul li.current a {
    border-bottom: solid;
    border-color: var(--txt-dark-primary);
  }
  /* #navbar ul li i{
    margin-left: 0.3rem;
  } */

  #navbar ul li a:hover {
    background: var(--bg-dark-highlight);
    color: #333366;
    border-radius: 1px;
    transition-duration: 0.4s;
  }

/* Sub menus hidden by default*/
  
  #navbar ul li.dropdown:hover {
    cursor: pointer;
    background: var(--bg-dark-highlight)0;
    color: var(--txt-dark-primary);
    border-radius: 1px;
    transition-duration: 0.4s;
  }
  .submenu-cottages {
    display: block;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    height: 0;
    width:0;
    left: 0;
  }

  /* #navbar ul li.dropdown .submenu-cottages {
    transition: visibility 0.4s ease-in; }*/
  
  #navbar ul li.dropdown:hover .submenu-cottages {
    display: block;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.4s;
    transition-timing-function: ease-in;
    transition-delay: 0.1s;
    pointer-events: auto;
    margin-top: 0.4rem;
    margin-bottom: 0.2rem;
    width: 365px;
    height: auto;
    background: var(--bg-dark-primary);
    color: var(--txt-dark-primary);
    display: grid;
      grid-template-columns: 1fr;
    padding: 5px;

  }

  .card {
    display: grid;
      grid-template-columns: 2fr 3fr;
      grid-row-gap: 0.5rem;
    background: var(--bg-light-primary);
    padding: 0.1rem;
  }

  #navbar ul li.dropdown:hover .submenu-cottages .card:hover {
    background: var(--txt-light-primary);
    transition-duration: 0.4s;
  }

  .box{ 
    display: block;
    justify-content:center;
    align-items: center;
    text-align: center;
    /* text-decoration: none; */
  }
  .textbox{
    margin-top: 1.2rem;
    color: var(--txt-dark-primary);
  }

  .submenu-cottages .card * img {
    display: block;
    overflow: hidden;
    width: 143px;
    height: 95px;
  }

/* Showcase */

  #showcase {
  background: url('/assets/img/Home/green-grass-field-2127921.jpg') no-repeat center center;
  background-size: cover;
  height: 88vh;
  overflow: hidden;
  }

  #showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  overflow: hidden;
  background-color: rgba(255,255,255, 0.3);
  }

  #showcase p i {
  font-size: 2rem;
  margin-bottom: 2rem;
  }

/* Articles */

#articles {
  max-width: 1300px;
  margin: auto;
}


#articles .article-container {
  display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 1rem;
  background: #fff;
  justify-items: center;
}

.article {
  background: var(--txt-light-primary);
  padding: 1rem;
}

.article ul li {
  line-height: 1.5rem;
}
.article-image {
  display: block;
  overflow: hidden;
  width: 400px;
  height:264px;
}

.article-right {
  grid-column: 2 / span 2;
}

.article-left {
  grid-column: 1 / span 2;
}
.article-span {
  grid-column: 1 / span 3;
}

#list-cottages {
  display: grid;
    grid-template-columns: 1fr 3fr;
    grid-row-gap: 0.5rem;
}

#list-cottages img {
  display: block;
  overflow: hidden;
  width: 203px;
  height: 125px;
}

#feedbacktxt {
  font-style: italic;
}
#feedbacktxt + p{
  font-weight: bold;
}
/* Footer */

#main-footer {
  background: var(--bg-dark-primary);
  color: var(--txt-light-primary);
}

.footer-container {
  display: grid;
  grid-template-columns: 10fr 1fr;
  /* grid-row-gap: 0.5rem; */
  /* background: var(--bg-light-primary); */
  padding: 1rem 0;
  align-items: center;
  max-width: 1300px;
  margin: auto;
}

.copyright {
  max-width: 1200px;
  /* min-width: 500px; */
  background: var(--txt-dark-primary);
  padding: 0.5rem;
  border-radius: 3px;
  text-align: center;
}

.social-media-link {
  margin-right: 1rem;
  text-align: right;
  padding: 3px;
}

.social-media-link a {
  text-decoration: none;
  color: var(--txt-light-primary);
  font-size: 1.5rem;

  
}
